body{
     margin: 0;
     padding: 0;
     font-family :Roboto, Arial, sans-serif
}
 header{
     background: #2874f0;
     align-items: center;
     display: flex;
     justify-content: center;
     font-weight: 600;
     color: white;
     padding: 3px;
     font-family: Roboto,Arial,sans-serif;
}
 header div{
     margin: 0px 10px;
}
 header img {
     width: 100px;
     cursor: pointer;
}
 .header-input{
     flex: .7;
     background: white;
     display:flex;
}
 .header-input input{
     padding: 6px 10px;
     font-size: 14px;
     width: 90%;
     border: none;
     font-stretch: ultra-expanded;
}
 .header-input span{
     vertical-align: middle;
     color: #2874f0;
     padding: 7px;
}
 .header-more a{
     vertical-align: top;
     font-size: 14px;
     cursor: pointer;
}
 .header-cart span{
     font-weight: 600;
     font-size: 20px;
     cursor: pointer;
}
 .header-more span{
     color: #bed5fa;
     font-size: 18px;
     cursor: pointer;
}
 .header-cart a{
     vertical-align: top;
     font-size: 14px;
     cursor: pointer;
}
 .cnt-1{
     display: flex;
     text-align: center;
     border-bottom: 1px solid #80808059;
     justify-content: center;
}
 .bas a{
     font-size: 15px;
     vertical-align: super;
     cursor: pointer;
}
 .mn-pic img{
     width: 50%;
}
 .mn-content a{
     text-decoration: none;
     font-size: 12px;
     font-weight: 600;
     color: #212121;
}
 .mn-content span{
     vertical-align: middle;
}
 .card-1{
     padding-top: 20px;
     margin: 0px 7px;
}
 .cnt-2 img{
     width: 100%;
}
 .cnt-2 {
     margin-top: 10px;
}
 input:focus {
     outline: none;
}
 .header input::-webkit-input-placeholder {
     font-family: 'myFont', Arial, Helvetica, sans-serif;
     font-stretch: ultra-expanded;
}
 .mn-content a:hover{
     color: #2874f0;
}
 .sug-body{
     display:flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 20px;
}
 .card-2{
     text-align: center;
}
 .card-2 img{
     width: 70%;
     height: 120px;
     margin-top: 20px;
}
 .sug-title{
     box-shadow: 0 0 0 1px rgb(0 0 0 / 13%);
     padding: 10px;
     display: flex;
     align-items: baseline;
     justify-content: space-between;
}
 .left-sug h6{
     margin: 10px;
     font-size: 24px;
}
 .left-sug p,.right-sug{
     margin: 10px;
}
 .right-sug a{
     text-decoration: none;
}
 .right-sug span{
     font-size: 13px;
     background: #2874f0;
     padding: 10px 20px;
     color: white;
     text-decoration: none;
     vertical-align: sub;
}
 .images-cnt{
     text-align: center;
     color: #388e3c;
     overflow: auto;
     margin: 20px;
     line-height: 20px;
}
 .images-cnt span{
     font-size: 13px;
     color: black;
     display: inline-flex;
     margin-right: 5px;
}
 .images-cnt p{
     font-size: 14px;
     color: #878787;
     margin: 5px;
}
 .images-cnt h3{
     display: contents;
     font-size: 16px;
     color: black;
}
 .images-cnt h6{
     display: contents;
     font-size: 14px;
}
 del{
     color: gray;
     margin: 0px 10px;
}
 .suggest{
     box-shadow: 0 0 0 1px rgb(0 0 0 / 13%);
     margin: 10px;
}
 .post{
     display:flex;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 13%);
     margin: 10px;
}
 .post img{
     width: 100%;
}
 .heart{
     float: right;
     color: gray;
}
 .card-2 .heart,.card-4 .heart {
     margin-right: 15px;
     font-size: 18px !important;
}
 .card-3{
     text-align: center;
     margin-right: 30px;
}
 .card-2 a,.card-3 a{
     text-decoration: none;
}
 .card-4{
     text-align: center;
}
 .card-4 img{
     width: 60%;
     height: 200px;
     margin-top: 20px;
}
 .card-4 a{
     text-decoration: none;
}
 .cd-images {
     transition: 0.3s;
}
 .cd-images:hover {
     transform: scale(1.1);
}
 .rate{
     background: #388e3c;
     padding: 3px 12px;
     border-radius: 5px;
     color: white !important;
}
 .coin{
     border-radius: 50%;
     background:gold;
     color: black;
}
 .post div{
     margin:10px;
}
 .sub-footer{
     margin: 20px;
}
 .sub-title{
     color: #87878f;
}
 ..sub-title h4{
     margin: 10px 0px;
}
 .sub-content p{
     color: #878787;
     font-size: 11px;
     line-height: 20px;
}
 footer{
     background: #172337;
}
 .f-title{
     color: #878787;
     font-size: 12px;
}
 .f-content a{
     display: block;
     line-height: 25px;
     color: #fff;
     text-decoration: none;
     font-size: 11px;
}
.f-content a:hover {
    text-decoration: underline;
}
.foot-cnt{
     margin: 0px 65px;
     padding: 40px 0px;
     display: flex;
}
.c1 h3,.c2 h3,.mus h3,.roa h3{
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}
.c2,.mus,.roa{
    margin-left: 60px;
}
.mus,.roa{
    color: white;
    font-size: 11px;
}
.foot-cnt2{
    display: flex;
    align-items: baseline;
    border-top: 1px solid #454d5e;
    padding-left: 30px;
}
.foot-cnt2 div{
    margin: 15px 30px;
}
.mus{
    padding-left: 39px;
    margin: 0px 0px 50px 30px;
    border-left: 1px solid white;
}
.bas-1 span ,.fa-solid{
    vertical-align: bottom;
    color:yellow;
} 	
.bas-1 a,.bas-1 p{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
/*                 LOGIN PAGE                   */
.lg-body{
    background-image: url("../images/background.png");
}
.lg-body .container{
    margin: 5%;
}
.f-box{
    min-width: 400px;
    max-width: 57%;
    min-height: 500px;
    max-height: 600px;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
}
.f-close{
    position: absolute;
    right: 21%;
    top: 62px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
}
.f-right{
    margin-top: 30px;
    width: 53%;
}
.f-left{
    background-color: #2874f0;
    padding: 10px;
}
.f-left1{
    margin: 40px;
}
.f-left1 span{
    font-family:Roboto, Arial, sans-serif;
    font-size:28px;
    font-weight:600;
    color:white;
}
.f-left1 p{
    font-size: 18px;
    color: #dbdbdb;
    line-height: 10px;
}
.f-left2{
    text-align: center;
    margin-top: 152px;
}
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
    margin-left: 25px;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 3px 20px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.placeholder {
    font-size:14px;
    color: #878787;
    left: 50px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
   font-family:Roboto, Arial, sans-serif;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #a19f9f;
  
font-size:16px;
}

.input:focus ~ .placeholder {
  color: #878787;
}
.input:focus{
  transition: 0.5s;
  border-bottom:1px solid #878787;
  font-family:Roboto, Arial, sans-serif;
}
#frgt{
    position: absolute;
    right: 0;
    top: 20px;
    color: #2874f0;
    text-decoration:none;
}
.privacy-div{
    width: 100%;
    margin-top: 30px;
    margin-left: 12px;
    padding: 10px 25px;
    font-size: 12px;
    color: #878787;
    line-height: 16.8px;
}
.privacy-div a{
   color: #2874f0;
   text-decoration:none;
}
.submit-div input{
    padding: 15px;
    width: 100%;
    background: #fb641b;
    border: none;
    color: white;
    margin-left: 30px;
}
.or-req{
    text-align: center;
    padding: 15px;
    width: 91%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    margin-left: 30px;
}
.or-req span{
    color: #878787;
    margin-top: 32px;
}
.or-req a{
    display: block;
    padding-top: 20px;